main {
    width: 100%;
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'article article article aside aside aside'
        'footer footer footer footer footer footer';
    gap: 10px;
}

header{
    grid-area: header;
}

article{
    grid-area: article;
   border-right: 3px solid black;
}

aside{
    grid-area: aside;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
}

  /*fejléc elemek------------------------------------------*/
  .cim{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    
  }

  .lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 10px;
  }

  .fejlecgombok{
    /* position: fixed; */
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    
  }

  .fejlecgombok:hover{
    background-color: white;
    color: black;
    padding: 12px;
  }
  /*-------------------------------------------------------*/


  /*rendező elemek-----------------------------------------*/
  .extrak {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    gap: 10px;
    margin-top: 10px;
  }


  /*-------------------------------------------------------*/


  /*kártya elemek -----------------------------------------*/
  .card-text {
    font-size: 12px;
    color: white;
  }
  
  .card-body{
    /* background-color: white; */
  }

  .ciponev {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(134, 134, 134, 0.61);
  }

  .termekek {
    display: grid;
    grid-template-columns: repeat(4, 17rem);
  }


  /*-------------------------------------------------------*/
  
  
  
  /*kosár elemek ------------------------------------------*/
  .kosargomb{
    text-decoration: none;
    font-size: 13px;
    color: white;
    background-color:black;
    padding: 7px;
  }

  .kosargomb:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .kosarkep{
    max-width: 100px;
    max-height: 100px;
    border: 1px solid black;
  }


  /*-------------------------------------------------------*/
  

  h3{
    color: black;
  }

  h4{
    font-size: 12px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .adminkep{
    max-width: 200px;
    max-height: 200px;
    border: 1px solid black;
  }

  

  .mentesgomb{
    background-color: black;
    color: white;
    padding: 15px;
    width: 120px;
    margin-top: 10px;
  }
  .mentesgomb:hover{
    background-color: white;
    color: black;
    padding: 18px;
    width: 120px;
    margin-top: 10px;
  }

 
  

  /*Reszponzivitás----------------------------------------------------------------------------------------*/
  @media (max-width: 576px) {
    main {
      width: 100%;
      margin: auto;
    }
  }
  @media (max-width: 775px) {
    /* .termekek {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      width: 100%;
      margin: auto;
      margin-top: 90px;
    } */
  }
  
  @media (max-width: 1130px) {
    .termekek {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      margin-top: 90px;
    }
  }
  
  @media (max-width: 1400px) {
    .termekek {
      gap: 20px;
      width: 100%;
      margin: auto;
      margin-top: 90px;
    }

  }
  